
<div class="container-fluid" style= "background-color: #3C5A98; margin: -50px 0px 0px 0px; height: 70px; width=100%">
  <div class="row  px-0 mx-0">
    <div class="col-lg-6 mx-0 px-0"><h1 class="fb-logo-main"> fakebook</h1>

    </div>
    <div class="col-lg-6 mx-0 px-0">
      <div class="row">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-4 ml-5">
          <div class="field" style="color: white">
          <%= f.label :Email  %><br/>
              <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
          </div>
        </div>
        <div class="col-lg-4 ml-1">
          <div class="field" style="color: white">
          <%= f.label :password %><br/>
              <%= f.password_field :password, placeholder: 'Password' %>
          </div>
        </div>
        <div class="col-lg-2 ml-1">
          <div class="actions" style="color: white; background-color: #3C5A98"><br/>
              <%= f.submit "Log In",class: 'btn btn-primary', style: 'background-color: #3C5A98' %>
            </div>
          </div>
        <div class="col-lg-1">
        </div>
        
        <% end %>
        
        <!--<%= render 'devise/shared/links' %>-->

      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6" style="margin-left: 100px">
    <h3 class="fb-login-text">Fakebook helps you connect and share with the</br> people in your life.</h3>
      <div>
      <%= image_tag("fb-login-world.png", :alt => "no img") %>
      </div>
    </div>
    
    <div class="col-lg-4">
      <!--<h1><#%= t('.sign_up') %></h1>-->
      <h1 class="fb-signup ">Create a new account</h1>
      <h4 class="fb-signup-2 ">It's quick and easy</h3>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <!--<#%= bootstrap_devise_error_messages! %>-->

        
        <div class="form-group">
          <div class="container">
            <!--<div class="row">-->
              <div  style="margin-left: -14px">
                <!--<#%= f.label :first_name %>-->
                <%= f.text_field :first_name, placeholder: 'First name' %>
              <!--</div>
              <div class=" no-padding left-padding">-->
                <!--<#%= f.label :last_name %>-->
                <%= f.text_field :last_name, placeholder: 'Surname' %>
              </div>
            <!--</div>-->
          </div>
        </div>

        <div class="form-group">
          <!--<#%= f.label :email %>-->
          <%= f.email_field :email, placeholder: 'Email address', class: 'form-control', autocomplete: 'off' %>
        </div>
        <div class="form-group">
          <!--<#%= f.label :password %>-->
          <%= f.password_field :password, placeholder: 'Password', class: 'form-control', autocomplete: 'off' %>
           </div>
      <div class="form-group">
          <!--<#%= f.label :password_confirmation %>-->
          <%= f.password_field :password_confirmation, placeholder: 'Confirm password', class: 'form-control' %>
        </div>

          
       
        <div class="form-group">
          <%= f.label :date_of_birth, "Birthday" %>
          <div>
            <%= f.date_select :date_of_birth, { class: 'form-control', order: [:day, :month, :year], 
            start_year: Date.today.year - 18, end_year: Date.today.year - 100}, {required: true} %>
          </div>
        </div>

        

        <div class="form-group">
          <%= f.label :gender, "Gender" %><br>
          <%= f.radio_button :gender, 'female' %> Female
          <%= f.radio_button :gender, 'male' %> Male
          <%= f.radio_button :gender, 'custom' %> Custom
        </div>
          
        <p class="fb-signup-3">By clicking Sign Up, you agree to our Terms, Data Policy and Cookie Policy. You may receive SMS notifications from us and can opt out at any time.</p>


        

        

        
        <div class="form-group">
          <%= f.submit 'Sign up', class: 'btn btn-success btn-wide' %>
        </div>
      <% end %>

      <!--<#%= render 'devise/shared/links' %>-->

    
    </div>
  </div>
</div>
